@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Merriweather-Regular.ttf"),
  url("/assets/fonts/Merriweather-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: "Cookie-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/Cookie-Regular.ttf"),
  url("/assets/fonts/Cookie-Regular.ttf") format("truetype"),
}