/************ COLORS ************/


$primaryColor: #9ab7d3;
$secondarycolor: 	#f5d2d3;
$tertiarycolor: #f7e1d3;

/************ FONTS ************/

$merriweatherRegular : "Merriweather-regular";
$cookieRegular : "Cookie-Regular";



